@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navLink {
    position: relative;
}

.navLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navLink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.hero-section{
    background-image: url('./assets/Element.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.apps-section{
    background-image: url('./assets/Element.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work-management{
    background-image: url('./assets/BACKGROUND.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.you-work{
    background-image: url('./assets/BACKGROUND2.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.line-decoration{
    position: relative;
    z-index: 0; /* Asegura que el contenido esté por encima del pseudo-elemento */ 
}

.line-decoration::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url('./assets/ElementLine.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    z-index: -1;
}

.line-decoration-blue{
    position: relative;
    z-index: 0; /* Asegura que el contenido esté por encima del pseudo-elemento */ 
}

.line-decoration-blue::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url('./assets/ElementLineBlue.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    z-index: -1;
}